@import "./src/scss/helpers/mixins";
@import "./src/scss/helpers/variables";

.slider {
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  height: 100vh;

  @include media($sm) {
    left: -75%;
  }
}

.imgSlider {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 2;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
}

.box {
  margin-top: auto;
  margin-bottom: auto;
  padding: 24px;
  width: 100%;
  max-width: 655px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.76);

  @include media($sm) {
    padding: 16px;
  }
}
