@import "core/fonts";
@import "helpers/mixins";
@import "helpers/variables";
@import "core/reset";
@import "core/global";
@import '../../node_modules/swiper/swiper-bundle.min.css';
@import '../../node_modules/swiper/modules/effect-fade/effect-fade.min.css';

body {
  height: 100vh;
  color: #fff;
  font-size: 16px;
}
